# virtual environments
venv/
.venv/

# secrets
.env

# python junk
__pycache__/
*.pyc

# editor
.vscode/

misc/

# Ignore everything inside logs
logs/*

# But keep the directory itself (via a placeholder file)
!logs/.gitkeep