# virtual environments
venv/
.venv/

# secrets
.env

# python junk
__pycache__/
*.pyc

# editor
.vscode/

# Ignore everything inside logs
logs/*

# But keep the directory itself (via a placeholder file)
!logs/.gitkeep

# runtime data
data/runtime/*
!data/runtime/.gitkeep

# config data
data/config/*
!data/config/.gitkeep

# generated newsletters
newsletters/*
!newsletters/.gitkeep
