beautifulsoup4==4.15.0
email_validator==2.3.0
feedparser==6.0.12
Jinja2==3.1.6
mjml==0.12.0
google-genai
protobuf==7.35.1
pyfiglet==1.0.4
python-dotenv==1.2.2
Requests==2.34.2
tqdm==4.67.3
trafilatura==2.1.0
validators==0.35.0
